@use "sass:map";
@use "./palettes" as palettes;

:root {
  --vp-sidebar-width: 380px !important;
  --vp-c-gutter: var(--vp-c-divider) !important;
  --vp-c-brand-1: #{map.get(palettes.$petrol-palette, 80)} !important;
  --vp-c-brand-2: #{map.get(palettes.$petrol-palette, 95)} !important;
  --vp-button-brand-bg: #{map.get(palettes.$petrol-palette, 50)} !important;
  --vp-button-brand-hover-bg: #{map.get(palettes.$petrol-palette, 30)} !important;
}

.VPButton.medium {
  border-radius: 8px !important;
}

.logo {
  width: 80px !important;
  height: auto !important;
}

.VPSocialLink:nth-child(5) svg {
  fill: none !important;
}

/* HACK(simonkov): Keep consistenty in size */
.VPSocialLink:nth-child(5) svg,
.VPSocialLink:nth-child(6) svg {
  width: 24px !important;
  height: 24px !important;
}
